html {
    font-size: 10px;
}

html,
body {
    background-image: url(https://images.unsplash.com/photo-1459749411175-04bf5292ceea?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80/1600x900);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all 0.35s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(218, 11, 90, 0.596);
    text-shadow: 0 0 .5rem grey;
}

.playing {
    transform: scale(1.1);
    border-color: #73ff00dc;
    box-shadow: 0 0 1rem #11bbc7fb;
}

kbd {
    display: block;
    font-size: 3rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #002fff;
}